/* Archivo: FrotaModal.css */

ion-modal {
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  }
  
  ion-header {
    background-color: #3880ff; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
  }
  
  ion-title {
    font-size: 1.5em; /* Tamaño de fuente del título */
  }
  
  ion-buttons {
    color: #fff; /* Color del texto de los botones en el encabezado */
  }
  
  ion-content {
    padding: 20px; /* Ajusta el espaciado interno según tus necesidades */
  }
  
  p {
    margin-bottom: 15px; /* Ajusta el margen inferior de los párrafos según tus necesidades */
  }
  
  ion-img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    max-height: 300px; /* Altura máxima de la imagen, ajusta según tus necesidades */
    margin-top: 15px; /* Ajusta el margen superior de la imagen según tus necesidades */
  }
  
  ion-button {
    display: block;
    width: 100%;
    margin-top: 20px; /* Ajusta el margen superior del botón según tus necesidades */
    background-color: #3880ff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
  }
  
  ion-button:hover {
    background-color: #3171e0; /* Cambia el color de fondo cuando el botón está en estado de desplazamiento */
  }
  
  /* Agrega estilos adicionales según sea necesario */
  